@media (max-width:850px){
    #desktopNavigationmenu{
        display:none;
    }
    #aboutMe {
        flex-direction: column;
        align-items: center;
        gap:1rem;
    }

    .profilepicture {
        width: 100%;
        margin: 5rem 0 1rem 0;
        padding:1rem;
        max-width:360px;
        overflow:hidden;
    }
    

    .aboutMeText {
        width: 100%;
        margin: 1rem 0;
        text-align: left;
        padding: 1rem;
    }

    .skills{
        gap:0rem;
    }
    .skills img{
        max-width:100px;
    }
    .skill{
        gap:0rem;
    }

    .toTop
    {
        width:40px;
        height:40px;
    }

    .proj {
        flex-direction: column;
    }

    .projicon {
        flex-direction: column;
        width: 300px;
        height: 300px;
        padding: 2rem;
        padding-right: 2rem;
    }

    .projDetails {
        margin-top: 2rem;
        text-align:left;
        justify-content:center;
        padding-left:50px;
    }
    .titleCV {
        font-size: 1.5em;
    }
    
    .cvicon img {
        max-width: 100px; 
    }
    
    .cvicon p1 {
        font-size: 1em; 
    }
    #Contact{
        flex-direction: column;
    }
    .githubicon img, .linkedinicon img {
        max-width: 200px;
        height: auto;
    }
}
@media(max-width:400px){
    .aboutMeText{
        width:250%;
    }
    .proj {
        margin-top:1rem;
        flex-direction: column;
    }

    .projicon {
        flex-direction: column;
        width: 300px;
        height: 300px;
        padding: 2rem;
        padding-right: 2rem;
    }

    .projDetails {
        margin-top: 2rem;
    }
}